<div class="desing">
    <h1>Welcome..{{collection.name}}!</h1>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NAME</th>
          <th scope="col">EMAIL_ID</th>
          <th scope="col">AVALABLE_BALANCE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{collection.id}}</td>
          <td>{{collection.name}}</td>
          <td>{{collection.email_id}}</td>
          <td>{{collection.amount}}</td>
        </tr>
      </tbody>
    </table>
  </div>