<div>
    <nav class="navbar navbar-light" style="background-color: #263138;">
        <a routerLink="home" class="btn btn-outline-success" role="button" aria-pressed="true">Home</a>
        <a routerLink="list" class="btn btn-outline-success" role="button" aria-pressed="true">Customer List</a>
        <a routerLink="transfer" class="btn btn-outline-success" role="button" aria-pressed="true">Transfer</a>
        <a routerLink="create" class="btn btn-outline-success" role="button" aria-pressed="true">Create Account</a>
        <a routerLink="history" class="btn btn-outline-success" role="button" aria-pressed="true">History</a>
    </nav>
    <router-outlet></router-outlet>
</div>